* {
	font-family: "AdwaitaMono Nerd Font";
}

window#waybar {
	background: transparent;	
}

.modules-left,
.modules-center,
.modules-right {
	background-color: #18314F;
	color: #A7BBEC;
	margin: 4px 6px;
	padding: 6px 6px;
	border-radius: 14px;
	border: 2px solid #A7BBEC;
}
